.hamburger {
  cursor: pointer;
}
.hamburger:hover > .hamburgerInner {
  width: 100%;
}
.hamburgerInner {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: width 0.3s ease;
}
.hamburgerInner:nth-child(2) {
  width: 70%;
}
.hamburgerInner:nth-child(3) {
  width: 50%;
}
